@use "sass:math";

$shareBtnWidth: 100px;
$shareBtnHeight: 30px;
$primary: #1351B4;


.wp-block-create-block-ufr-topnews {
	.social-links {
		white-space: nowrap;
		top: 15px;
		right: 35px;
		bottom: 0;
		position: absolute;
		width: auto;
		max-width: 32px;
		height: 32px;
		line-height: 30px;
		border-radius: 16px;
		transition: max-width .2s linear,padding .2s linear;
		overflow: hidden;
		background: white !important;
		z-index: 10;
		text-align: center;
		padding-right: 32px;

		@media only screen and (max-width: 1264px) {
			top: 25px;
		}

		.option, .fa-times {
			visibility: hidden;
		}

		.toggle-social-links {
			opacity: 1;
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			width: 33px;
			height: 32px;
			line-height: 30px;
			text-align: center;
			border-radius: 16px;
			cursor: pointer;
			z-index: 1;

			span {
				margin-left: 4px;
			}
		}

		&:hover {
			outline: white 2px solid;
		}

		&.open {
			background: #fff;
			max-width: 320px;
			padding-left: 8px;
			padding-right: 40px;

			span {
				margin-left: unset;
			}

			.option, .fa-times {
				visibility: visible;
			}

			.toggle-social-links {
				left: unset;

				.fa-times {
					color: white;
				}

				.fa-share-alt {
					display: none;
				}
			}
		}

		&.blue.open {
			outline: #1351B4 2px solid;
		}

		&.white.open {
			outline: #fff 2px solid;
		}

		&.gray.open {
			outline: #646464 2px solid;
		}

		a:not(:disabled):hover {
			background-image: unset !important;
		}
	}

	.box {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		overflow: hidden;
	}

	.topnews {
		margin: 10px;
		cursor: pointer;
	}

	img {
		width: 100%;
		height: 100%;
	}

	.content {
		padding: 5px 10px;

		.category {
			font-weight: 600;
			font-size: 1rem;
			color: #555;
			line-height: normal;
			text-transform: uppercase;
		}

		.title {
			font-weight: 600;
			font-size: 1.1rem;
			color: #0c326f;
			line-height: 1.4;
		}

		.excerpt {
			//
		}
	}

	.not-found {
		margin: 50px 0;
		color: red;
		text-align: center;
	}

	.hidden {
		display: none !important;
		visibility: hidden !important;
	}
}
